<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE article PUBLIC "-//OASIS//DTD Simplified DocBook XML V1.1//EN" "http://www.oasis-open.org/docbook/xml/simple/1.1/sdocbook.dtd">
<article>
  <title>Integration with Spring Security</title>
  <para>
    If you are using the Spring-framework with Spring Security,
    you don't have to follow the chapter <emphasis>Getting started with JPA Security</emphasis>
    (also you can do and specify the
    <systemitem>org.jpasecurity.security.authentication.SpringAuthenticationProvider</systemitem> in your
    persistence.properties).
  </para>
  <para>
	The easiest way to integrate Spring-Security is to simply replace your
    <systemitem>LocalEntityManagerFactoryBean</systemitem> or <systemitem>LocalContainerEntityManagerFactoryBean</systemitem>
    in your Spring configuration with the appropriate counterpart in the
    <systemitem>org.jpasecurity.spring.persistence</systemitem> package (which are <systemitem>SecureLocalEntityManagerFactoryBean</systemitem>
    and <systemitem>SecureContainerEntityManagerFactoryBean</systemitem>).
  </para>
  <para>
    The autodetection mechanism of JPA Security will automatically detect that you are using Spring Security,
    but you can specify your security context or authentication provider as bean property
    of the <systemitem>Secure*EntityManagerFactoryBean</systemitem> in your spring configuration.
  </para>
  <para>
    You need to have the jpasecurity-spring module in your classpath to use spring security.
  </para>
</article>
