<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	     xmlns="http://java.sun.com/xml/ns/javaee" 
	     xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	     version="3.0">
 
  <display-name>JPA Security JSF E-learning sample with pure JSF</display-name>

  <listener>
    <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
  </listener>
  
  <!-- Change to "Production" when you are ready to deploy -->
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  
  <!-- Welcome page -->
  <welcome-file-list>
    <welcome-file>index.xhtml</welcome-file>
  </welcome-file-list>
 
  <!-- JSF mapping -->
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
 
  <!-- Map these files with JSF -->
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>The Dashboard</web-resource-name>
      <url-pattern>/dashboard.xhtml</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>student</role-name>
      <role-name>teacher</role-name>
    </auth-constraint>
  </security-constraint>
 
   <security-constraint>
    <web-resource-collection>
      <web-resource-name>Creation of Lesson</web-resource-name>
      <url-pattern>/lessonCreator.xhtml</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>teacher</role-name>
    </auth-constraint>
  </security-constraint>
  
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>JAAS</realm-name>
    <form-login-config>
      <form-login-page>/login.xhtml?form-based</form-login-page>
      <form-error-page>/index.xhtml</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>student</role-name>
  </security-role>
  <security-role>
    <role-name>teacher</role-name>
  </security-role>
</web-app>