* {
    margin : 0;
    padding : 0;
    border : 0;
    outline : 0;
    font-size : 100%;
    vertical-align : baseline;
    background : transparent
}
body {
    width : 960px;
    margin : 0 auto;
    position : relative;
    color : rgb(64, 64, 64);
    line-height : 1;
    font : normal normal normal 16px / 1em Arial, "Helvetica Neue", Helvetica, sans-serif
}

label {
    display : block;
    height : 22px;
    width : 100px;
    padding : 0 1em 0 0;
    font-size : .9em;
    font-weight : bold;
    line-height : 32px;
    text-align : right;
    float : left;
}

#lessonForm label{
	text-align : left;
}
#content {	
	margin-top : 10px;
	clear : both;
}

#loginHeader + #content {
	border-top : 7px solid rgb(160, 160, 160);
}

#content input[type = "submit"] {
    background : rgb(160, 160, 160);
    margin : 0.25em 0.5em;
    padding : .5em 1em;
    color : rgb(255, 255, 255);
    font : normal normal bold .8em / 1em Arial, Helvetica, sans-serif;
    border : none
}
#content input[type = "text"],
#content input[type = "password"],
#content textarea {

    width : 300px;
    padding : .25em .25em .25em .35em;
    font : normal normal normal 1em / 1.5em Arial, Helvetica, sans-serif;
    border : 1px solid rgb(160, 160, 160);
    margin : 0.25em 0.5em;
}
#content textarea {
    width : 450px;
    height : 200px;
}
#content input[type = "submit"]:hover,
input.submit:hover{
    background : rgb(0, 175, 240);
    cursor : pointer
}
#lessonForm,
#lessonCreateForm{
	clear : both;
}

#lessonForm span,
#lessonCreateForm span{
	margin : 0.25em 0.5em;
}
a{
    color : rgb(0, 175, 240);
    text-decoration : none;
    border-bottom : 1px solid rgb(0, 175, 240)
}

a:hover{
    background : rgb(0, 175, 240);
    color : rgb(255, 255, 255);
}

#logo a,
#logo a:hover {
	border : none;
	background : transparent;
}
.textsmall {
    font : 70% / 1.2 verdana, arial, helvetica, sans-serif;
}

.texterror {
    color : red;
    margin-left : 1em;
}
#header {
	height : 10.5em;
}
#headerImg #logo{
    margin-top : 20px;
    float : right;
    width : 313px;
    padding-bottom : 8px;

}
#headerImg #titel {
    color : rgb(38,38,38);
    font-size : 1em;
    line-height : 1em;
    text-transform : uppercase;
    padding : 0 0 0 40px;
    float : left;
    margin-top : 40px;
} 
#headerImg #titel:first-letter {
    color : rgb(0, 175, 240);
    font-weight : bold
}
#headerLeft {
    border-top : 7px solid rgb(160, 160, 160);
    border-bottom : 2px solid rgb(160, 160, 160);
    margin-top : 8px;
    float : left;
    padding : 1em 0;
    width : 50%;
    clear : both;
    text-align : left;
}
#headerRight{
    border-top : 7px solid rgb(160, 160, 160);
    border-bottom : 2px solid rgb(160, 160, 160);
    margin-top : 8px;
    float : right;
    padding : 1em 0;
    width : 50%;
    text-align : right;
}

#headerRight form {
    margin-left : 5px;
    margin-left
    width : 50px;
    float : right;
}

#headerRight label{
	display : inline;
	line-height : normal; 
	font-size : inherit;
	text-align : right;
	width : auto;
	height : auto;
}

#messages {
    margin-top : 20px;
    border-top : 7px solid rgb(160, 160, 160);
}
.errormessages {
    float : left;
    margin : 10px 0 20px 10px;
}
.errormessages li {
    background : url(images/list-bullet-blue.1290081156.png) no-repeat 0 4px;
    margin : 0 0 1em 1em;
    padding : 0 0 0 1.25em;
    list-style-type : none
}
.errormessages li:last-child {
    margin : 0 0 0 1em;
}

#footer {
    width : 960px;
    margin : 50px 0 0 0;
    font-size : .75em;
    border-top : 1px solid rgb(160, 160, 160)
}
#footer a {
    padding : .15em;
    border : none
}
#footerLeft,
#footerRight {
    display : block;
    padding : 1em 0 1em 1em;
}

#loginTitel{
	margin : 1em 0 2em 0;
	text-align : center;
}

#loginForm{
	width : 500px;
	margin : auto;
}
#loginForm input.submit,
#resolved {
    background : rgb(160, 160, 160);
    margin-right :0.5em;
    padding : .5em 1em;
    margin-top: 0.25em;
    color : rgb(255, 255, 255);
    font : normal normal bold .8em / 1emArial, Helvetica, sans-serif;
    border : none
}

.buttons{
	margin-left : 7.22em;
	width : auto;
}
#leaveForm #leave,
#joinForm #join,
#resolveForm #resolve,
#resolved{
	float : right;
	margin-top : 2em;
}

#resolved{
	background : rgb(38, 38, 38);
}

h1{
	font-size : 1.75em;
	margin : 1em 0 0.5em 0;
}

h2{
	clear : both;
	font-size : 1.25em;
	line-height : 1.75em;
	margin : 0.5em 0 0.25em 0;
}	

li{
	margin : 0.25em 0 0.25em 0em;
	padding : 0 0 0 1em;
	background : url(../images/list-bullet-blue.1290081156.png) no-repeat 0 4px;
	list-style : none;
}
#courseform label {
	text-align : left;
}

#courseform input.submit {
	margin-top : -1em;
}
#courseTitle,
#lessonTitle {
	float : left;
	width: 80%;
}