<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE section PUBLIC "-//OASIS//DTD DocBook XML V4.4//EN" "http://www.oasis-open.org/docbook/xml/4.4/docbookx.dtd">
<section id="persistence.xml">
  <title>Modifying your persistence.xml</title>
  <para>
    In order to use JPA Security you have to modify your <quote>persistence.xml</quote>
    to point to JPA Security. Additional you have to provide three properties for
    JPA Security to work. The three properties are:
  </para>
  <itemizedlist>
    <listitem>
      <code>net.sf.jpasecurity.persistence.provider</code>
      - The value of this list may be your original persistence provider
    </listitem>
    <listitem>
      <code>net.sf.jpasecurity.security.authentication.provider</code>
      - The value of this list may be an implementation of
      <code>net.sf.jpasecurity.security.authentication.AuthenticationProvider</code>
      (see more in <xref linkend="authentication"
                         endterm="Authentication and Authorization"/>)
    </listitem>
    <listitem>
      <code>net.sf.jpasecurity.security.rules.provider</code>
      - The value of this list may be an implementation of
      <code>net.sf.jpasecurity.security.rules.AccessRulesProvider</code>
      (see more in <xref linkend="rule-based"
                         endterm="Rule-based Access Control"/>)
    </listitem>
  </itemizedlist>
  <example>
    <para>
      Supposed you have an existing JPA application. This example assumes
      Hibernate as persistence provider. Your <quote>persistence.xml</quote>
      may look similar to this:
    </para> 
    <programlisting>
      &lt;persistence xmlns="http://java.sun.com/xml/ns/persistence"
                    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
                                        http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
                    version="1.0"&gt;
          
          &lt;persistence-unit name="test-unit" transaction-type="RESOURCE_LOCAL"&gt;

              &lt;provider&gt;org.hibernate.ejb.HibernatePersistence&lt;/provider&gt;

              &lt;class&gt;net.sf.jpasecurity.TestBean&lt;/class&gt;
              &lt;!-- More class-mappings go here --&gt;
              ...
                
              &lt;properties&gt;
                  &lt;!-- Hibernate-specific properties go here --&gt;
                  ...
              &lt;/properties&gt;

          &lt;/persistence-unit&gt;

      &lt;/persistence&gt;
          
    </programlisting>
    <para>
      After integrating JPA Security your <quote>persistence.xml</quote>
      may look like this:
    </para>
    <programlisting>
      &lt;persistence xmlns="http://java.sun.com/xml/ns/persistence"
                    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
                                        http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
                    version="1.0"&gt;
          
          &lt;persistence-unit name="test-unit" transaction-type="RESOURCE_LOCAL"&gt;

              &lt;provider&gt;net.sf.jpasecurity.persistence.SecurePersistenceProvider&lt;/provider&gt;

              &lt;class&gt;net.sf.jpasecurity.TestBean&lt;/class&gt;
              &lt;!-- More class-mappings go here --&gt;
              ...
                
              &lt;properties&gt;
                  &lt;property name="net.sf.jpasecurity.persistence.provider"
                             value="org.hibernate.ejb.HibernatePersistence"/&gt;
                  &lt;property name="net.sf.jpasecurity.security.authentication.provider"
                             value="net.sf.jpasecurity.security.authentication.DefaultAuthenticationProvider"/&gt;
                  &lt;property name="net.sf.jpasecurity.security.rules.provider"
                             value="net.sf.jpasecurity.security.rules.XmlAccessRulesProvider"/&gt;
                  &lt;!-- Hibernate-specific properties go here --&gt;
                  ...
              &lt;/properties&gt;

          &lt;/persistence-unit&gt;

      &lt;/persistence&gt;
          
    </programlisting>
    <para>
      We changed the &lt;provider&gt; tag to point to JPA Security's
      implementation of the <code>PersistenceProvider</code> interface
      and added the three properties needed to configure JPA Security.
    </para>
  </example>
</section>
